<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, labore eligendi reiciendis odit nemo quo? Architecto reiciendis, provident possimus tempora earum qui. Voluptates odio amet quisquam. Cupiditate neque odio ea.</p>

<%- include("footer") -%>